/* body{
    background-color: #59D5E0;
} */

.gradient{
    background: radial-gradient(#89FFF1 20%,  white 60%);
}

.scrollbar::-webkit-scrollbar{
    display: none;
}

.myproject{
    height: 20%;
}

.navbar{
    position: sticky;
}

.skills-image{
    mix-blend-mode: multiply;
}

.toogle:hover{
    animation: toogle 500ms;
}
@keyframes toogle{
    from {transform: scale(1)}
    50%   {transform: scale(1.05)}
    to {transform:none}
}